<div *ngIf="isActive">
  <span class="time">{{currentDate | date: 'hh'}}<span class="blink_me">:</span>{{currentDate | date: 'mm'}}</span>
  <span class="date">{{currentDate | date: 'longDate'}}</span>
</div>
