@import 'variables';
datetime {
    .time {
        display: block;
        font-size: 3em;
    }
    .date {
        color: $primary_text_color;
        font-weight: 300;
        font-size: 1.2em;
    }
}
