@import 'variables';
bubi-bikepoint {
    text-align: right;
    h1 {
        margin-bottom: 10px;
    }
    .item {
        margin-bottom: 10px;
        h2 {
            color: $primary_text_color;
            font-weight: 300;
        }
    }
}
