<div class="weather_bloc" *ngIf="isActive">
  <h2 class='city'>{{weather_city}}</h2>
  <div class='panel'>
    <div class="panel-column" *ngFor="let item of forecast" >
      <h3>{{item.day | date:'MMM dd HH'}}</h3>
      <i class="owf owf-{{item.icon}}"></i>
      <strong>{{item.temp.max | number:'1.0-0'}} &#8451;</strong> / <small>{{item.temp.min | number:'1.0-0'}} &#8451;</small>
      <h4>{{item.humidity | percent:'1.0-0'}}</h4>
    </div>
  </div>
</div>
