@import 'variables';
calendar {
    text-align: right;
    h3 {
        color: $primary_text_color;
        font-weight: 300;
    }
    h5 {
        margin: 0;
    }
    .events {
        margin-top: 5px;
        >h3 {
            margin-bottom: 10px;
            span {
                color: white;
            }
        }
        .event {
            background: rgba(33, 33, 33, 0.6);
            display: flex;
            margin-bottom: 10px;
            max-width: 430px;
            &__date {
                flex: 1 0 50px;
                background: rgba(199, 199, 199, 0.6);
                padding: 15px;
            }
            &__time {
                flex: 1 0 50px;
                background: rgba(33, 33, 33, 0.6);
                padding: 15px;
            }
            &__name {
                flex: 1 0 240px;
                margin-left: 1%;
                background: rgba(33, 33, 33, 0.6);
                padding: 15px 15px 15px 0;
            }
            i {
                position: absolute;
                left: -35px;
                top: 17px;
                font-size: 22px;
                color: $primary_text_color;
            }
        }
    }
}
