<div *ngIf="isActive">
  <h1>Calendar</h1>
  <span *ngIf="yearlyEvent && yearlyEvent.name" >{{yearlyEvent.name}}</span>
  <div class="events">
    <div class="event" *ngFor="let event of events.slice(0, 5) | orderBy:'startDate':false; let i=index">
      <div class="event__date">
        <h2>{{event.startDate | date: 'MMM'}}</h2>
        <h3>{{event.startDate | date: 'dd'}}</h3>
        <div *ngIf="event.moreThanOne" >-</div>
        <h2 *ngIf="event.moreThanOne">{{event.endDate | date: 'MMM'}}</h2>
        <h3 *ngIf="event.moreThanOne">{{event.endDate | date: 'dd'}}</h3>
      </div>
      <div class="event__time" *ngIf="!event.allday" >
        <h5>{{event.startDate | date: 'HH:mm'}}</h5>
        <h5>{{event.endDate | date: 'HH:mm'}}</h5>
      </div>
      <div class="event__time" *ngIf="event.allday" >
        <h5>All day</h5>
      </div>
      <div class="event__name" *ngIf="event.name" >
        <h3>{{event.name}}</h3>
        <h5>{{event.location}}</h5>
      </div>
    </div>
  </div>
</div>
