<div *ngIf="isActive">
  <h1>VLille</h1>

  <div class="item" *ngFor="let station of stations">
    <h2>{{station.name}}</h2>
    <h3>{{station.bikes}} <i class="fa fa-bicycle" aria-hidden="true"></i> / {{station.attachs}} places </h3>
  </div>
</div>
