<div *ngIf="isActive">
<h1>Maison</h1>

<h2>Alarme <span><i class="fa fa-eye-slash" aria-hidden="true"></i> Désactivée</span></h2>

<br>

<h2>
  <div class="thermometer_img">
    <img src="assets/thermometer-128.png" alt="" />
  </div>
  Intérieur
  <span>20°C</span>
</h2>
<h2>
  <div class="thermometer_img">
    <img src="assets/thermometer-128.png" alt="" />
  </div>
  Extérieur
  <span>15°C</span>
</h2>

<br>
<h2>Consommation électrique</h2>
<h3><i class="fa fa-bolt" aria-hidden="true"></i> 30.8kW et instantané 2kW</h3>

<br>

<h2>Consommation d'eau</h2>
<h3><i class="fa fa-tint" aria-hidden="true"></i> 33l cette semaine</h3>

<br>

<h2>Ouvertures <span><i class="fa fa-shield" aria-hidden="true"></i> fermées</span></h2>
<!--Toutes les ouvertures sont fermées-->
<!--Listes ouvertures fa-close -->
</div>
