<div *ngIf="isActive">
  <h1>Bikes</h1>

  <div class="item" *ngFor="let station of stations">
    <h2>{{station.name}}</h2>
    <h3 *ngIf="station.bikes" >{{station.bikes}} <i class="fa fa-bicycle" aria-hidden="true"></i> / {{station.attachs}} places </h3>
    <h3 *ngIf="!station.bikes" >Out of order</h3>
  </div>
</div>
