<div class="clock-circle" *ngIf="isActive" >
	<div class="clock-face">
		<div class="clock-hour" [ngStyle]="{'transform': _hRotate}"></div>
		<div class="clock-minute" [ngStyle]="{'transform': _mRotate}"></div>
		<div class="clock-second" [ngStyle]="{'transform': _sRotate}"></div>
	</div>
</div>
