<div class="grid-wrapper">
  <!--<hall-9000></hall-9000>-->
<calendar></calendar>

<message></message>

<datetime></datetime>

<weather-icon></weather-icon>

<weather></weather>

<news-feed></news-feed>

<!--<car></car>-->

<!--<vlille></vlille>-->

<!-- <tfl-bikepoint></tfl-bikepoint> -->
<bubi-bikepoint></bubi-bikepoint>

<home></home>

<mm-compliments></mm-compliments>

<!--<social></social>-->

<mm-tweetline></mm-tweetline>

<clock>Bloc horloge</clock>

<mm-remote [qrdata]="deviceUUID" *ngIf="isAuth">
    <pre>{{deviceUUID | json}}</pre>
</mm-remote>

</div>
