html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

body {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-family: Roboto;
  font-weight: 300;
  &.demo {
    background: #333 url('~assets/header.png') center center no-repeat;
  }
}



h1,h2,h3,h4 {
  color: white;
  font-family: 'Roboto';
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: 0.025em;
  margin: 0;
  padding: 0;
}

.blink_me {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% { opacity: 0.0; }
}


