@import 'variables';
car {
    .position_info {
        margin-left: 5px;
        margin-top: 10px;
        z-index: 9999;
        position: absolute;
        i {
            padding-right: 8px;
        }
        .move_me {
            animation: mover 1s linear infinite;
        }
        @keyframes mover {
            50% {
                transform: translate(-5px, 0);
            }
        }
        .lastupdate {
            color: $primary_text_color;
        }
    }
    #gmap,
    #map {
        z-index: -1;
        margin-top: 15px;
        height: 19em;
        width: 19em;
        position: relative;
        overflow: hidden;
        margin-left: -40px;
    }
    .map_overlay {
        position: absolute;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-image: url('/assets/map_overlay.png');
    }
    h2 {
        color: $primary_text_color;
        font-weight: 300;
        margin: 8px 0px;
    }
    .last_move {
        margin-top: -25px;
    }
    .fuel_level {}
}
