@import 'variables';
mm-tweetline {
    max-width: 300px;
    height: 150px;
    text-align: right;
    h1 {
        margin-bottom: 20px;
    }
    .tweet {
        animation: fadein 2s;
        margin-bottom: 10px;
        img {
            width: 15px;
        }
        h2 {
            color: $primary_text_color;
            font-weight: 300;
        }
    }
    .to-fade-out {
        animation: fadeout 2s;
    }
}
