/* You can add global styles to this file, and also import other style files */

::selection {
    background: transparent;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
}

.top_left {
    position: absolute;
    top: 60px;
    left: 60px;
}

.top_left ~ .top_left {
    position: absolute;
    top: 60px;
    left: 360px;
}

.top_left ~ .top_left ~ .top_left {
  position: absolute;
  top: 160px;
  left: 60px;
  text-align: left;
}

.top_center {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}
.top_center ~ .top_center {
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translateX(-50%);
}

.top_right {
    position: absolute;
    top: 60px;
    right: 60px;
}
.top_right ~ .top_right {
    position: absolute;
    top: 190px;
    right: 60px;
}

.bottom_bar {
    position: absolute;
    bottom: 60px;
    left: 60px;
}
.bottom_bar ~ .bottom_bar {
    position: absolute;
    bottom: 60px;
    right: 60px;
    left: auto;
}

.lower_third {
    position: absolute;
    bottom: 300px;
     left: 50%;
    transform: translateX(-50%);
}

.lower_third ~ .lower_third {
    position: absolute;
    bottom: 600px;
     left: 50%;
    transform: translateX(-50%);
}
