<div class="weather_icon_module" *ngIf="isActive" >
  <div class="icon_content">
    <div *ngIf="current_weather_type == 'sun-shower'" class="icon">
      <div class="rainbow"></div>
    </div>
    <div *ngIf="current_weather_type == 'Storm'" class="icon">
      <div class="stormy"></div>
    </div>
    <div *ngIf="current_weather_type == 'Clouds'" class="icon">
      <div class="cloudy"></div>
    </div>
    <div *ngIf="current_weather_type == 'Snow'" class="icon flurries">
      <div class="snowy"></div>
    </div>
    <div *ngIf="current_weather_type == 'Clear'" class="icon">
      <div class="sunny"></div>
    </div>
    <div *ngIf="current_weather_type == 'Rain'" class="icon">
      <div class="rainy"></div>
    </div>
    <div *ngIf="current_weather_type == 'Haze'" class="icon">
      <div class="cloudy"></div>
    </div>
  </div>

  <div class="weather_info">
    <div class="weather_city">
      {{weather_city || 'London, UK'}}
    </div>
    <div class="weather_temp">
      {{weather_temp}} °C
    </div>
    <div class="weather_text">
      {{current_weather_type | firstletterupper}}
    </div>
  </div>
</div>
